#header {
    background-color: #34495e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo img {
    width: 100px;
}

#menu-center #tituloPagina{
    font-size: 30px;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#menu-center #tituloPagina{
    transition: color 5s;
}

#menu-center #tituloPagina:hover {
    color: #f39c12;
}

#menu-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu-right ul li {
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

#menu-right ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

#menu-right ul li a:hover {
    color: #f39c12;
}

@media only screen and (max-width: 768px) {
    #header {
        padding: 10px; 
        flex-direction: row; 
        align-items: flex-start; 
    }

    #menu-right {
        margin-top: 10px;
    }

    #menu-right ul {
        text-align: center;
    }

    #menu-right ul li {
        display: block;
        margin: 10px 0; 
    }
}